<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COGNITO_REGION</key>
	<string>us-east-1</string>
	<key>COGNITO_USER_POOL_ID</key>
	<string>us-east-1_93HMCJqvJ</string>
	<key>COGNITO_CLIENT_ID</key>
	<string>6s98m6r64ql20ab09phvj2of2n</string>
	<key>COGNITO_CLIENT_SECRET</key>
	<string></string>
</dict>
</plist>
